<a href="https://colab.research.google.com/github/acedesci/scanalytics/blob/master/EN/S07_Intro_ML/S7-Demo3_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 7: Introduction to ML - Classification

## Demo 2: Supplement - Customer Churn Dataset Preprocessing

Data preprocessing of customer service churn dataset (https://www.kaggle.com/blastchar/telco-customer-churn) for classification

In [ ]:
# The first part is to import the required packages
import numpy #For array operations
import pandas as pd #DataFrame
import numpy as np

# Load the data (desciption can be found on https://www.kaggle.com/blastchar/telco-customer-churn)
url = 'https://raw.githubusercontent.com/acedesci/scanalytics/master/EN/S07_Intro_ML/data/Telco-Customer-Churn.csv'
customer_data = pd.read_csv(url)
customer_data.head()
customer_data = customer_data.replace(r'^\s*$', np.nan, regex=True) #replace empty strings with NaN

# Drop null/error/empty values
customer_data.dropna(inplace=True)

# Convert TotalCharges to numeric
customer_data['TotalCharges'] = pd.to_numeric(customer_data['TotalCharges'])
customer_data.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
# Changes all values indicating 'no service' to label 'No'

customer_data['MultipleLines']  = customer_data['MultipleLines'].replace({'No phone service' : 'No'})
customer_data['OnlineSecurity']  = customer_data['OnlineSecurity'].replace({'No internet service' : 'No'})
customer_data['OnlineBackup']  = customer_data['OnlineBackup'].replace({'No internet service' : 'No'})
customer_data['DeviceProtection']  = customer_data['DeviceProtection'].replace({'No internet service' : 'No'})
customer_data['TechSupport']  = customer_data['TechSupport'].replace({'No internet service' : 'No'})
customer_data['StreamingTV']  = customer_data['StreamingTV'].replace({'No internet service' : 'No'})
customer_data['StreamingMovies']  = customer_data['StreamingMovies'].replace({'No internet service' : 'No'})

In [ ]:
# Transform categorical values to dummies
columns_to_transform = customer_data.columns[1:]
customer_dummies = pd.get_dummies(customer_data[columns_to_transform], drop_first = True)
customer_dummies.to_csv('./Telco-Customer-Churn_dummies.csv')
customer_dummies.head()

   SeniorCitizen  tenure  ...  PaymentMethod_Mailed check  Churn_Yes
0              0       1  ...                           0          0
1              0      34  ...                           1          0
2              0       2  ...                           1          1
3              0      45  ...                           0          0
4              0       2  ...                           0          1

[5 rows x 24 columns]